{% if include.list != nil %}
{% assign thelist = include.list %}
{% else %}
{% assign thelist = paginator.posts %}
{% endif %}

{% for post in thelist %}
<article class="post">
    <div class="post-media">
        <a href="{{ site.url }}{{ post.url }}">
            <img src="{{ site.url }}/uploads/{{ post.image }}" alt="">
        </a>
    </div>
    <div class="post-content">
        <h2 class="title">
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
        </h2>

        <!-- Post Details -->
        <div class="post-details">
            <a href="#" class="post-date">{{ post.date | date_to_string }}</a> {% for cat in post.categories %}<span class="post-category"><a href="{{ site.url }}/blog/{{ cat }}">#{{ cat }}</a></span>{% endfor %}</a>
        </div>
        <!-- End Post Details -->
    </div>
</article>
{% endfor %}