<div class="post-author">
    <div class="row">
        <div class="column width-12">
            <div class="author-bio">
                <div class="author-avatar clear-float">
                    <img src="{{ site.url }}/assets/images/bioavatar.png" alt="Avatar">
                </div>
                <div class="author-content">
                    <div class="row">
                        <div class="column width-12">
                            <div class="name">by <a href="#">Arne Gockeln</a></div>
                            <p class="author-title">A beautiful mind, technician and tea lover.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>