<div class="post-date">Comment</div>
<div class="sharing-icons">
    <a href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fpublish.twitter.com%2F%3FbuttonText%3DI%2520want%2520to%2520talk%2520about%2520https%253A%252F%252Farnegockeln.com%26buttonType%3DMentionButton%26lang%3Den%26query%3D%2540arnegockeln%26widget%3DButton&ref_src=twsrc%5Etfw&screen_name=arnegockeln&text=I%20want%20to%20talk%20about%20{{ site.url }}{{ page.url | url_encode }}&tw_p=tweetbutton" target="_blank">Talk about this article on Twitter <i class="fa fa-twitter" aria-hidden="true"></i>!</a>
</div>
