<!-- 
call it like this:
    { % include featured-top.html title="Awesome title" image="url/to/image.png" datetime="2014-07-13T04:34:10+00:00" % }
-->
<div class="featured-top">
    <img src="{{ include.image }}" alt="post-image">
    <!-- .post-thumbnail -->
    <div class="post-thumbnail" style="background-image:url({{ include.image }})">
        <!-- .entry-header -->
        <header class="entry-header">
            <!-- .entry-meta -->
            <!-- .entry-title -->
            <h1 class="entry-title">{{ include.title }}</h1>
            <!-- .entry-meta -->
            <div class="entry-meta">
                <span class="entry-date">
                    <time class="entry-date" datetime="{{ include.datetime }}">{{ include.datetime | date: "%d. %B %Y" }}</time>
                </span> 
            </div>
            <!-- .entry-meta -->
        </header>
        <!-- .entry-header -->
    </div>
	<!-- .post-thumbnail -->
</div>
<!-- .featured-top -->	