<div class="section-block pagination-3 bkg-grey-ultralight">
{% if paginator.total_pages > 1 %}
    <div class="row">
        <div class="column width-12">
            <ul>
              {% if paginator.next_page %}
                <li><a class="pagination-previous icon-left-open" href="{{ site.url }}{{ paginator.next_page_path }}"><span class="icon-left-open-mini"></span></a></li>
                {% endif %}
                <li>{{ paginator.page }} von {{ paginator.total_pages }}</li>
                {% if paginator.previous_page %}
                <li><a class="pagination-next disabled" href="{{ site.url }}{{ paginator.previous_page_path }}"><span class="icon-right-open-mini"></span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
</div>
