---
layout: default
---
<article class="post">
    {% if page.image != nil %}
    <div class="post-media">
        <img src="{{ site.url }}/uploads{{ page.image }}" alt="{{ page.imagecopyright }}">
    </div>
    {% endif %}
    <div class="post-content">
        <h2 class="title">{{ page.title }}</h2>

        <!-- The Content -->
        <div class="the-content">
            {{ content }}
            <div class="post-footer">
                <!-- Post Details -->
                <div class="post-details">
                    <span class="post-date">{{ page.date | date_to_string }}</span> {% for cat in page.categories %}<span class="post-category"><a href="{{ site.url }}/blog/{{ cat }}">#{{ cat }}</a></span>{% endfor %}
                    {% if page.imagecopyright != nil %}
                        <p>{{ page.imagecopyright }}</p>
                    {% endif %}
                </div>
                <!-- End Post Details -->
            </div>
        </div>
        <!-- End The Content -->
    </div>
</article>