---
layout: default
---
 <article class="hentry post single-post">
    <!-- .entry-content -->
    <div class="entry-content">
    	{% unless page.has_featured %}
    	<h1 class="entry-title">{{ page.title }}</h1>
    	{{ page.date | date: "%d. %B %Y" }}
    	{% endunless %}
    	{{ content }}
	</div>
</article>

{% unless page.comments == false %}
<div class="entry-content">
	<div id="disqus_thread"></div>
	<script src="{{ site.url }}/assets/js/disqus.js"></script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endunless %}